section.section.section--full.section--highlights
  .row.center-vertically
    .columns.medium-6
      h1.h1
        | Awesome thing 1
      p.paragraph--secondary
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis
      h2.h2
        | Why also awesome
      p.paragraph--secondary
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis

    .columns.medium-6.text-center
      img.rocket-image(src="images/rocket.png")
