.navigation__item
  padding-left: 20px

.navigation__link
  position: relative

  &:after
    position: absolute
    bottom: 0
    content: ""
    width: 50%
    background: black
    height: 2px
    right: 0
    left: 0
    margin:
      left: auto
      right: auto
    transition: width 0.1s ease-in-out

  &:hover

    &:after
      width: 80%
      transition: width 0.1s ease-in-out
