section.section#highlights
  .row
    .columns.medium-4
      .text-center
        i.fa.fa-graduation-cap.fa-5x
        h3.h3
          | Awesome thing 1
      p.paragraph
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    .columns.medium-4
      .text-center
        i.fa.fa-trophy.fa-5x
        h3.h3
          | Another reason
      p.paragraph
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    .columns.medium-4
      .text-center
        i.fa.fa-users.fa-5x
        h3.h3
          | Just stuff here
      p.paragraph
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
