section.section--full.section--fixed
  .row
    .columns.medium-8
      .center-vertically
        h1.hero
          | Vertically centered content
        p.paragraph.paragraph--intro
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          br
          | sed do eiusmod tempor incididunt
        button.button.large Call to action
